fastapi
aiologger[aiofiles]
pip-chill
uvicorn
gunicorn
datasets
langchain-pinecone
langchain-openai
langchain
langchain-core
langgraph
semantic-router
python-dotenv
tavily-python
yandex-cloud-ml-sdk
lxml
langchain_community
nltk
duckduckgo-search
bs4